* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
}

.app--locked {
  height: 100vh;
  overflow: hidden;
}
